{erl_opts, [debug_info]}.
{deps, [ra,
       {uuid, {git, "https://github.com/okeuday/uuid.git"}},
       {cowboy, {git, "https://github.com/ninenines/cowboy.git"}},
       {jiffy, {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}},
       {sha3, {git, "https://github.com/b/sha3.git", {branch, "master"}}},
       {hex, {git, "git://github.com/b/hex", {branch, "master"}}}
       ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [erlig]}
]}.

{plugins, [rebar3_run]}.

{relx, [{release, { erlig, "0.1.0" },
         []},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]
}.

{profiles, [
            {prod, [
                    {relx, [
                            {dev_mode, false},
                            {include_erts, true}]}
                   ]
            }]
}.

